Django
django-filter
python-dotenv
django-cors-headers
django-extensions
django-crispy-forms
djangorestframework
djangorestframework-simplejwt
django-modeltranslation==0.18.9
eskiz_sms
drf-yasg
coreapi
packaging
smart-getenv