# Django
DEBUG=True
SECRET_KEY=n8x2y238x4*@&y87N8237m@*h82df;:0@;02;F
ALLOWED_HOSTS=*
TIME_ZONE=Asia/Tashkent

# Domain
# SITE_URL=

# Database
DB_ENGINE=sqlite3
DB_NAME=db.sqlite3
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=


# CORS
# CORS_ORIGIN_ALLOW_ALL=
# CORS_ORIGIN_WHITELIST=
# CORS_ALLOW_METHODS=

# Redis
REDIS_URL=('127.0.0.1', 6379)